<aside class="tvd-rail" aria-label="Characteristics">
  <div class="tvd-rail-section">
    <div class="tvd-rail-title">CORE</div>

    {{#with system.characteristics.STR as |c|}}
    <div class="tvd-rail-row" data-cha="STR">
      <label class="tvd-rail-label rollable" data-roll="2D6+@STR" data-cha="STR">STR</label>
      <div class="tvd-rail-val">
        <input class="tvd-rail-score" type="number" name="system.characteristics.STR.value" value="{{c.value}}" data-dtype="Number"/>
        <span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span>
      </div>
    </div>
    {{/with}}

    {{#with system.characteristics.DEX as |c|}}
    <div class="tvd-rail-row" data-cha="DEX">
      <label class="tvd-rail-label rollable" data-roll="2D6+@DEX" data-cha="DEX">DEX</label>
      <div class="tvd-rail-val">
        <input class="tvd-rail-score" type="number" name="system.characteristics.DEX.value" value="{{c.value}}" data-dtype="Number"/>
        <span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span>
      </div>
    </div>
    {{/with}}

    {{#with system.characteristics.END as |c|}}
    <div class="tvd-rail-row" data-cha="END">
      <label class="tvd-rail-label rollable" data-roll="2D6+@END" data-cha="END">END</label>
      <div class="tvd-rail-val">
        <input class="tvd-rail-score" type="number" name="system.characteristics.END.value" value="{{c.value}}" data-dtype="Number"/>
        <span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span>
      </div>
    </div>
    {{/with}}

    {{#with system.characteristics.INT as |c|}}
    <div class="tvd-rail-row" data-cha="INT">
      <label class="tvd-rail-label rollable" data-roll="2D6+@INT" data-cha="INT">INT</label>
      <div class="tvd-rail-val">
        <input class="tvd-rail-score" type="number" name="system.characteristics.INT.value" value="{{c.value}}" data-dtype="Number"/>
        <span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span>
      </div>
    </div>
    {{/with}}

    {{#with system.characteristics.EDU as |c|}}
    <div class="tvd-rail-row" data-cha="EDU">
      <label class="tvd-rail-label rollable" data-roll="2D6+@EDU" data-cha="EDU">EDU</label>
      <div class="tvd-rail-val">
        <input class="tvd-rail-score" type="number" name="system.characteristics.EDU.value" value="{{c.value}}" data-dtype="Number"/>
        <span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span>
      </div>
    </div>
    {{/with}}

    {{#with system.characteristics.SOC as |c|}}
    <div class="tvd-rail-row" data-cha="SOC">
      <label class="tvd-rail-label rollable" data-roll="2D6+@SOC" data-cha="SOC">SOC</label>
      <div class="tvd-rail-val">
        <input class="tvd-rail-score" type="number" name="system.characteristics.SOC.value" value="{{c.value}}" data-dtype="Number"/>
        <span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span>
      </div>
    </div>
    {{/with}}
  </div>

  <div class="tvd-rail-section">
    <div class="tvd-rail-title">OTHER CHARACTERISTICS</div>

    {{#with system.characteristics.CHA as |c|}}
    <div class="tvd-rail-row" data-cha="CHA"><label class="tvd-rail-label rollable" data-roll="2D6+@CHA" data-cha="CHA">CHA</label><div class="tvd-rail-val"><input class="tvd-rail-score" type="number" name="system.characteristics.CHA.value" value="{{c.value}}"/><span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span></div></div>{{/with}}

    {{#with system.characteristics.TER as |c|}}
    <div class="tvd-rail-row" data-cha="TER"><label class="tvd-rail-label rollable" data-roll="2D6+@TER" data-cha="TER">TER</label><div class="tvd-rail-val"><input class="tvd-rail-score" type="number" name="system.characteristics.TER.value" value="{{c.value}}"/><span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span></div></div>{{/with}}

    {{#with system.characteristics.PSI as |c|}}
    <div class="tvd-rail-row" data-cha="PSI"><label class="tvd-rail-label rollable" data-roll="2D6+@PSI" data-cha="PSI">PSI</label><div class="tvd-rail-val"><input class="tvd-rail-score" type="number" name="system.characteristics.PSI.value" value="{{c.value}}"/><span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span></div></div>{{/with}}

    {{#with system.characteristics.WLT as |c|}}
    <div class="tvd-rail-row" data-cha="WLT"><label class="tvd-rail-label rollable" data-roll="2D6+@WLT" data-cha="WLT">WLT</label><div class="tvd-rail-val"><input class="tvd-rail-score" type="number" name="system.characteristics.WLT.value" value="{{c.value}}"/><span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span></div></div>{{/with}}

    {{#with system.characteristics.LCK as |c|}}
    <div class="tvd-rail-row" data-cha="LCK"><label class="tvd-rail-label rollable" data-roll="2D6+@LCK" data-cha="LCK">LCK</label><div class="tvd-rail-val"><input class="tvd-rail-score" type="number" name="system.characteristics.LCK.value" value="{{c.value}}"/><span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span></div></div>{{/with}}

    {{#with system.characteristics.MRL as |c|}}
    <div class="tvd-rail-row" data-cha="MRL"><label class="tvd-rail-label rollable" data-roll="2D6+@MRL" data-cha="MRL">MRL</label><div class="tvd-rail-val"><input class="tvd-rail-score" type="number" name="system.characteristics.MRL.value" value="{{c.value}}"/><span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span></div></div>{{/with}}

    {{#with system.characteristics.STY as |c|}}
    <div class="tvd-rail-row" data-cha="STY"><label class="tvd-rail-label rollable" data-roll="2D6+@STY" data-cha="STY">STY</label><div class="tvd-rail-val"><input class="tvd-rail-score" type="number" name="system.characteristics.STY.value" value="{{c.value}}"/><span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span></div></div>{{/with}}

    {{#with system.characteristics.RES as |c|}}
    <div class="tvd-rail-row" data-cha="RES"><label class="tvd-rail-label rollable" data-roll="2D6+@RES" data-cha="RES">RES</label><div class="tvd-rail-val"><input class="tvd-rail-score" type="number" name="system.characteristics.RES.value" value="{{c.value}}"/><span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span></div></div>{{/with}}

    {{#with system.characteristics.FOL as |c|}}
    <div class="tvd-rail-row" data-cha="FOL"><label class="tvd-rail-label rollable" data-roll="2D6+@FOL" data-cha="FOL">FOL</label><div class="tvd-rail-val"><input class="tvd-rail-score" type="number" name="system.characteristics.FOL.value" value="{{c.value}}"/><span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span></div></div>{{/with}}

    {{#with system.characteristics.REP as |c|}}
    <div class="tvd-rail-row" data-cha="REP"><label class="tvd-rail-label rollable" data-roll="2D6+@REP" data-cha="REP">REP</label><div class="tvd-rail-val"><input class="tvd-rail-score" type="number" name="system.characteristics.REP.value" value="{{c.value}}"/><span class="tvd-rail-dm">DM {{numberFormat c.dm sign=true}}</span></div></div>{{/with}}
  </div>
</aside>
